.UserMenustardard {
  background-color:white;
  padding: 0% 5%;

}

.LogOutText {
  background-color: white;
  color: red;
  font-size: 2.3em;
  font-weight: 900;


}

.LineSpacing {
color: transparent;


}

.LineSpacingTop {
  color: #00C6FF;

}

.Links{
  color: #00C6FF;
  font-size: 2.3em;
  font-weight: 900;

}