.h1 {
	background-color: rgba(0, 198, 255, 0.8);
	color: white;
	padding: 2.5rem;
	border-radius: 20px;
	text-align: center;
	width: 50%;
	font-size: 3rem;

}

.h1:hover {
	box-shadow:0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.h2 {
	background-color: white;
	color: rgba(0, 198, 255, 0.8);
	padding: 2.5rem;
	border:5px solid rgba(0, 198, 255, 0.8) ;
	border-radius: 20px;
	text-align: center;
	width: 50%;
	font-size: 3rem;

}

.h2:hover {
	box-shadow:0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


@media only screen and (min-width: 1000px) {
  .h1 {
  width: 75rem;
    
  }

  .h2 {
  width: 75rem;
  }
  }