.Title {
  display: block;
  font-size: 8rem;
  margin: 0 auto;
  padding-top: 10vh;
  text-align: center;
  font-weight: 600;
}

.cardTitle {
	color: #00C6FF;
	font-size: 4rem;
	font-weight: 600;
	padding-left: 1rem;
	padding-top: 2rem;
}

.cardPhoto {
	color: #00C6FF;
	padding: 20rem;

}

.cardAddress {
	color: #00C6FF;
	font-size: 2rem;
	padding-left: 1.5rem;
	font-weight: 600;
}

.cardPrice {
	color: #00C6FF;
	display: inline-block;
	float: right;
	padding-right: 2rem;
	justify-content: center;
	font-weight: 600;

}

.cardBedBath {
	color: #00C6FF;
	font-weight: 600;
}

.cardSqft {
	color: #00C6FF;
	display: inline-block;
	justify-content: center;
	float: right;
	font-weight: 600;
}

.fullCard:hover {
	box-shadow:0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);	
}

@media only screen and (min-width: 600px) {
  .Title {
  font-size: 10rem;
    
  }
}