/* START DESKTOP CSS */

/* ===== BASE STYLES ===== */

@media (min-width: 600px){

  html{
    font-size: 40px;
    text-align: center;
    line-height: 26px;
    padding: 26px;
    text-rendering: optimizeLegibility;
  }

/*Replace with page specific background image once possible.*/
  body{
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    color: #00C6FF;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 6.5em;
    /*Photo by Buenosia Carol from Pexels*/
    background-image: url(../../assets/images/bedroom.jpg);
    background-size: cover;
    min-height: 100%;

  }

  /*svg{
    transform: scale(0.9);
    transform: rotate(180deg);
    cursor: pointer;
    background: #00C6FF
  }

  svg:hover{
    background: #00f7ff;
  }*/

  /* .left-arrow{
    width: 50px;
    height: 50px;
    background: #00C6FF;
    position: relative;
    transform: rotate(-45deg);
    margin-left: 29.8em;
    margin-top: 3em;
    cursor: pointer;
  }

  .left-arrow:after{
    content: '';
    position:absolute;
    width: 60px;
    height: 60px;
    background: #ffffff;
    top: 10px;
    left: 10px;
  }

  .left-arrow:hover{
    background: #00f7ff;
  } */

  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }

  #title{
    margin-top: -1em;
    font-size: 8vw;
    margin-bottom: 1em;
    font-family: 'Montserrat', sans-serif;
    color: #00C6FF;
  }

  h2{
    font-size: 40px;
    margin-top: 150px;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
  }

  ::placeholder{
    color: #00C6FF
  }

  input, button{
    border-radius: 20px;
    border: solid 2px #00C6FF ;
    padding: 15px 5px;
    background: #ffffff;
    text-align: left;
    padding-left: 20px;
    font-size: 2.5vw;
  }

  input:not(#fullName) {
    margin-top: 0.5em;
  }

  .startSearchButton{
    border-radius: 60px;
    border: solid 5px #ffffff; /* Replace with proper shade of blue */
    padding: 5px 20px;
    background: #00C6FF;
    margin-top: 2.5em;
    text-align: center;
    color: #ffffff;
  }

  #login{
    border-radius: 20px;
    padding: 0em 3.25em;
    background: #ffffff;
    text-align: center;
    text-transform: none;
    font-size: 2.5vw;
    color: #00C6FF;
    margin-top: 6em;
    margin-bottom: 0.5em;
  }

  #signUp{
    border-radius: 20px;
    padding: 0em 2.75em;
    background: #00C6FF;
    text-align: center;
    text-transform: none;
    font-size: 2.5vw;
    color: #ffffff;
    margin-bottom: 2em;
  }

  #logEmail{
    border-radius: 20px;
    border: solid 2px #00C6FF ;
    padding: 15px 5px;
    background: #ffffff;
    text-align: left;
    padding-left: 20px;
    font-size: 2.5vw;
    margin-bottom: 1.5em;
  }

  #logPass{
    border-radius: 20px;
    border: solid 2px #00C6FF ;
    padding: 15px 5px;
    background: #ffffff;
    text-align: left;
    padding-left: 20px;
    font-size: 2.5vw;
    margin-bottom: 3em;
  }

  #forgotpass{
    cursor: pointer;
    margin-top: -10px;
    font-size: 25px;
    color: #000000
  }

  #forgotpass:hover{
    color: #00f7ff;
  }

  #phoneNum{
    margin-bottom: 4em;
  }

}
/* START MOBILE CSS */

@media screen and (min-width: 300px) and (max-width: 480px){
  html{
    font-size: 40px;
    text-align: center;
    line-height: 26px;
    padding: 26px;
    text-rendering: optimizeLegibility;
  }

/*Replace with page specific background image once possible.*/
  body{
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    color: #00C6FF;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 6.5em;
    /*Photo by Buenosia Carol from Pexels*/
    background-image: url(../../assets/images/bedroom.jpg);
    background-size: cover;
    min-height: 100%;

  }

  /*svg{
    transform: scale(0.9);
    transform: rotate(180deg);
    cursor: pointer;
    background: #00C6FF
  }

  svg:hover{
    background: #00f7ff;
  }*/

  /* .left-arrow{
    width: 50px;
    height: 50px;
    background: #00C6FF;
    position: relative;
    transform: rotate(-45deg);
    margin-left: 29.8em;
    margin-top: 3em;
    cursor: pointer;
  }

  .left-arrow:after{
    content: '';
    position:absolute;
    width: 60px;
    height: 60px;
    background: #ffffff;
    top: 10px;
    left: 10px;
  }

  .left-arrow:hover{
    background: #00f7ff;
  } */

  .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }

  #title{
    margin-top: -1.5em;
    font-size: 20vw;
    margin-bottom: 1em;
    font-family: 'Montserrat', sans-serif;
    color: #00C6FF;
  }

  h2{
    font-size: 40px;
    margin-top: 150px;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
  }

  ::placeholder{
    color: #00C6FF
  }

  input, button{
    border-radius: 10px;
    border: solid 2px #00C6FF ;
    padding: 15px 5px;
    background: #ffffff;
    text-align: left;
    padding-left: 20px;
    font-size: 4.5vw;
    margin-top: 2em;
  }

  input:not(#fullName) {
    margin-top: 0.75em;
  }

  .startSearchButton{
    border-radius: 60px;
    border: solid 5px #ffffff; /* Replace with proper shade of blue */
    padding: 5px 20px;
    background: #00C6FF;
    margin-top: 2.5em;
    text-align: center;
    color: #ffffff;
  }

  #login{
    border-radius: 10px;
    padding: 0em 2.25em;
    background: #ffffff;
    text-align: center;
    text-transform: none;
    font-size: 5.5vw;
    color: #00C6FF;
    margin-top: 15em;
    margin-bottom: 0.5em;
  }

  #signUp{
    border-radius: 10px;
    padding: 0em 1.75em;
    background: #00C6FF;
    text-align: center;
    text-transform: none;
    font-size: 5.5vw;
    color: #ffffff;
    margin-bottom: 2em;
  }

  #logEmail{
    border-radius: 10px;
    border: solid 2px #00C6FF ;
    padding: 10px 0px;
    background: #ffffff;
    text-align: left;
    padding-left: 20px;
    font-size: 5.5vw;
    margin-bottom: 1.5em;
  }

  #logPass{
    border-radius: 10px;
    border: solid 2px #00C6FF ;
    padding: 10px 0px;
    background: #ffffff;
    text-align: left;
    padding-left: 20px;
    font-size: 5.5vw;
    margin-bottom: 1.5em;
  }

  #forgotpass{
    cursor: pointer;
    margin-top: -10px;
    font-size: 25px;
    color: #000000
  }

  #forgotpass:hover{
    color: #00f7ff;
  }

  #phoneNum{
    margin-bottom: 4em;
  }

  #back{
    margin-top: 0.5em;
  }

}
  /* END MOBILE CSS */