.Home {
  height: 100%;
  position: relative;
  color: #00C6FF;
}
.Home >:not(.BackgroundImg){
 z-index: 1;
}
.Home::after {
content: "";
 height: 100%;
 width: 100%; 
 z-index: -1;
 position: absolute;
 top: 0;
 left: 0;
 display: block;

 /*Photo by Buenosia Carol from Pexels*/
 background: 
    linear-gradient(
      rgba(0, 0, 0, 0.4), 
      rgba(0, 0, 0, 0.4)
    ),
    url(../../assets/images/bedroom.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
}

.Title {
  display: block;
  font-size: 8rem;
  margin: 0 auto;
  padding-top: 10vh;
  text-align: center;
  font-weight: 600;
}

.Button1 {
  font-size: 3rem;
  color: white;
  display: inline-block;
  background: rgba(0, 198, 255, 0.8);
  border-radius: 10px;
  width: 40%;
  text-align: center;
  margin-top: 2em;
  min-width: 40%;
  min-height: 40%;
}

.Button2 {
  font-size: 3rem;
  color: rgba(0, 198, 255, 0.8);
  display: inline-block;
  background: #ffffff;
  border-radius: 10px;
  width: 40%;
  text-align: center;
  margin-top: 2em;
  min-width: 40%;
  min-height: 40%;
}

.container {

  display: flex;
  flex-direction: row-reverse;
  width:100%;
  justify-content: space-between;




}


@media only screen and (min-width: 600px) {
  .Title {
  font-size: 10rem;
    
  }
}